@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Configuração do Tema Escuro (Baseado no Slate) */
:root {
  --radius: 0.5rem;
  
  /* Background #020817 (Slate 950) */
  --background: oklch(0.129 0.042 264.695);
  /* Foreground #f8fafc (Slate 50) */
  --foreground: oklch(0.985 0.001 247.676);

  /* Card #020817 (Slate 950) */
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.985 0.001 247.676);

  /* Popover #020817 (Slate 950) */
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.985 0.001 247.676);

  /* Primary #f8fafc (Slate 50) */
  --primary: oklch(0.985 0.001 247.676);
  --primary-foreground: oklch(0.205 0.042 264.695);

  /* Secondary #1e293b (Slate 800) */
  --secondary: oklch(0.269 0.041 261.584);
  --secondary-foreground: oklch(0.985 0.001 247.676);

  /* Muted #1e293b (Slate 800) */
  --muted: oklch(0.269 0.041 261.584);
  --muted-foreground: oklch(0.704 0.04 256.788);

  /* Accent #1e293b (Slate 800) */
  --accent: oklch(0.269 0.041 261.584);
  --accent-foreground: oklch(0.985 0.001 247.676);

  /* Destructive #7f1d1d (Red 900) */
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);

  /* Border #1e293b (Slate 800) */
  --border: oklch(0.269 0.041 261.584);
  /* Input #1e293b (Slate 800) */
  --input: oklch(0.269 0.041 261.584);
  /* Ring #cbd5e1 (Slate 300) */
  --ring: oklch(0.869 0.022 252.894);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0.042 264.695);
  --sidebar-foreground: oklch(0.985 0.001 247.676);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 247.676);
  --sidebar-accent: oklch(0.269 0.041 261.584);
  --sidebar-accent-foreground: oklch(0.985 0.001 247.676);
  --sidebar-border: oklch(0.269 0.041 261.584);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}